# First mail is fake and second is unreliable for longer term contact.
# Please use mail@ablu.org for contact. These mails are only mapped to make
# scripts happy.
Erik Schilling <ablu-but-not-real-mail-address@uni-paderborn.de> <ablu@mail.uni-paderborn.org>

