body {
	margin: 16px;
	height: 100%;
}

#logo {
    height: 90px;
    text-align: right;
}

#content {
}


.tbl-head {
    font-weight: bold;
    border-bottom: 1px solid #2c3e50;
    background-color: #c9ced3;
}

.tbl-head > td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.tbl-row > td {
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: top;
    border-top: 1pt solid black;

}

.spacer {
    height: 20px;
}

.interface_table {
    width: 350px;
}


.interface_port {
   width: 150px;
}

.interface_name {
   width: 150px;
}

.interface_ip {
   width: 100px;
}